.contatos>h2 {
    padding: 20px 0 20px 140px;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    color: #6F5848;

}

.contatos>p {
    color: #6F5848;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-left: 150px;
    padding: 30px 0 30px 0;
}


.box-cont {
    display: flex;
    justify-content: center;
    gap: 51px;
}

.cont-conteiner {
    width: 400px;
    height: 514px;
    background: #fff6ee;
    border-radius: 18px;
    overflow: hidden;

    border: 1px solid #b77d56;

    box-shadow: -4px 10px 20px 2px rgba(124, 51, 12, 0.25);

    transition: .35s;
    animation: float 4s ease-in-out infinite;
}

.cont-conteudo>img {
    margin: 39px 140px 10px;
}

.cont-conteudo>h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    padding: 0 33px 0 33px;
    margin-bottom: 10px;
}

.cont-conteudo>p {
    text-align: center;
    font-size: 24px;
    padding: 0 33px 0 33px;
    margin-bottom: 5px;
}

#e-mail {
    font-size: 18px;
    color: black;
    padding: 14px 12px 9px 12px;
    margin: 26px;
    border: 1px solid #7C330C;
    border-radius: 10px;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 61px;
}

.botao>button {
    width: 268px;
    height: 59px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    background: #996C4F;
    border: 4px solid #C28E70;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.cont-whats {
    background: #D6F4CA;
    border: 3px solid #898E80;
    border-radius: 10px;
     animation: float 4s ease-in-out infinite;
}

.cont-conteudo>h3 {
    color: #2D4336;
    font-weight: bold;
}

.chamada {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #EAEFE1;
    width: 324px;
    height: 76px;
    margin: auto;
    padding: 0;
    border: 1px solid #76B788;
    border-radius: 10px;
   

}

.chamada>img {
    margin-top: 10px;
    width: 45px;
    height: 45px;
}

.chamada>p {
    margin-bottom: 80px;
    font-size: 24px;
}

.btn-whats>button {
    color: white;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    width: 330px;
    height: 76px;
    background: #4C905F;
    border: 4px solid #76B788;
    margin: 20px 30px 0 43px;
    padding: 0;
}

.botao-box {
    display: flex;
    flex-direction: column;
}

.but>button {
    display: flex;
    justify-content: space-between;
    width: 256px;
    height: 59px;
    margin: 10px auto;
    
    font-size: 24px;
    font-weight: bold;
}

button>img {
    width: 44px;
    height: 44px;
}