@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FDF0DF;
}

nav {
    display: flex;
    justify-content: center;
    gap: 63px;
    border-bottom: 4px solid #E4BFA5;
    padding-bottom: 32px;
}

a {
    text-decoration: none;
    padding-top: 41px;
    font-size: 32px;
    color: #6F5848;

}
a:hover{
 transform: scale(0.75);
 border-bottom: 3px solid #DECDBA;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;

}

.text-home {
    text-align: justify;
}

h1 {
    color: #503026;
    font-size: 64px;
}

h1>span {
    font-size: 96px;
}

p {
    color: #6F5848;
    font-size: 36px;
    padding-top: 95px;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}


.image-home {
    padding-top: 80px;
    animation: float 4s ease-in-out infinite;
}

.image-home:hover{
    transform: scale(1.03);
}

.sobre {
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sobre {
    width: 1320px;
    height: 839px;
    border: 3px solid #DECDBA;
    
}

.text-sobre>h2 {
    padding: 20px 0 0 20px;
    font-size: 48px;
    color: #6F5848;
}

.text-sobre>p {
    font-size: 24px;
    margin-left: 20px;
    padding-top: 30px
}